* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #64b5f6;
}

.configuration {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
  background-color: white;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
  width: 300px;
}

button,
p {
  font-size: 15pt;
  margin-bottom: 5px;
  margin-top: 5px;
}

#time {
  text-align: center;
}

button {
  background-color: #1e88e5;
  border-radius: 5px;
  border-color: #1976d2;
  color: white;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5px;
  padding: 10px;
}

.simpleContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px;
  padding: 10px;
}

h1 {
  text-align: center;
  color: #0d47a1;
  margin: 20px;
}

.slider {
  margin-left: 30px;
}

.playerNames {
  display: flex;
  justify-content: space-between;
}

.playerInfo {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
}

.gameScreen {
  display: flex;
  flex-direction: row;
  display: none;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  margin: 20px;
}

.player {
  border-radius: 10px;
  text-align: center;
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}

.player1,
#player1 {
  background-color: #b3e5fc;
}

.player2,
#player2 {
  background-color: #b39ddb;
}

.player3,
#player3 {
  background-color: #ffecb3;
}

.player4,
#player4 {
  background-color: #b2dfdb;
}

.playerSetup {
  margin-bottom: 10px;
}

#playerAvatars {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  background-color: #eeeeee;
}

.memory-game {
  margin: 5px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.card {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 2px;
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
  cursor: pointer;
}

.front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front,
.back {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  position: absolute;
  border-radius: 10px;
  background: #1c7ccc;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card:active {
  -webkit-transform: scale(0.97);
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.emoji {
  font-size: 70px;
}

.active-player {
  border-style: solid;
  border-width: 5px;
  border-color: #ffcc80;
}

.resetGame {
  margin-left: 20px;
}

.info {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (max-width: 900px) {
  .emoji {
    font-size: 25px;
  }
  .card {
    width: 50px;
    height: 50px;
  }
  p {
    font-size: 11pt;
  }
  button {
    font-size: 12pt;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
  }

  h1 {
    text-align: center;
    color: #0d47a1;
    margin: 15px;
  }

  .configuration {
    display: flex;
    padding: 10px;
  }

  .gameContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    margin: 15px;
  }

  .resetGame {
    margin-left: 15px;
  }
}

@media only screen and (max-height: 900px) and (max-width: 600px) {
  .emoji {
    font-size: 25px;
  }

  .card {
    width: 40px;
    height: 40px;
  }
  .player {
    margin: 4px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .active-player {
    border-width: 3px;
  }
  h1 {
    font-size: 18px;
    margin: 10px;
  }
  p {
    margin: 0;
    padding: 0;
  }
  .gameContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
  }
}
